name: notification_with_pool_example
description: Demonstrates how to use the notification_with_pool plugin.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.5.3
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  notification_with_pool:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
